<dl class="cont-dl">
	<dt>
								<p>连续点击一个按钮会出现蓝色遮罩的解决方法</p>
								<!--<span>2017/9/6　星期三</span>-->
							</dt>
	<dd>
		<pre>
添加一段css：<br/>
#btn{<br/>
-webkit-user-select:none;<br/>
-moz-user-select:none; <br/>
-ms-user-select:none; <br/>
user-select:none;<br/>
}<br/>
或者加一段JS：<br/>
document.onselectstart=new Function("return false");<br/>
								</pre>
	</dd>
</dl>
<dl class="cont-dl">
	<dt>
								<p>修改placeholder的颜色</p>
							</dt>
	<dd>
		<pre>
::-webkit-input-placeholder { /* WebKit browsers */ color: #999; }<br/>
::-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #999; } <br/>
::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #999; } <br/>
::-ms-input-placeholder { /* Internet Explorer 10+ */ color: #999;}
								</pre>
	</dd>
</dl>
