body {
	background: #000;
}

.bg {
	width: 100%;
	height: 550px;
	background: url(../images/banner.jpg) no-repeat top center;
}

.padding-top {
	padding-top: 300px;
	padding-bottom: 80px;
}

.padding-top>.row {
	background: #fff;
	min-height: 800px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.hover:hover {
	opacity: .8;
}

.hides {
	display: none;
}


/*nav*/

.nav {
	padding-left: 30px;
}

.nav-list {
	background: #fefefe;
}

.nav-list li {
	width: 150px;
	color: #fff;
}

.nav-list li span,
.nav-list li a {
	display: block;
	width: 150px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.nav-list li span {
	background: #000;
	cursor: pointer;
	border-top: 1px solid #fff;
}

.nav-list li a {
	background: #F5F5F5;
	border: 1px solid #3c3c3c;
	border-top: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.nav li a.current {
	color: #fff;
	background: #5cb85c;
}


/*content*/

.content {
	width: 900px;
	padding: 15px 30px;
	border: 1px solid #000;
	margin-right: 30px;
}

.cont-dl {
	border-bottom: 1px dashed #000;
	padding: 15px;
	margin-bottom: 20px;
}

.cont-dl dt {
	padding-bottom: 10px;
}

.cont-dl dt p {
	color: #737373;
	line-height: 26px;
	font-size: 16px;
	margin: 0;
}

.cont-dl dt span {
	display: block;
	font-size: 12px;
	color: #dadada;
}

.cont-dl dd {
	color: #3c3c3c;
	font-size: 14px;
	line-height: 22px;
	font-weight: bold;
}