<div class="pull-left nav">
	<div class="head-info">
		<p>个人资料</p>
		<div class="head-img"><img src="A-Study/app/blog/images/head.jpg" width="100" /></div>
		<span>Luhom</span>
	</div><!--head-info-->
	<ul class="nav-list">
		<li>
			<span class="hover">html+css <i class="glyphicon glyphicon-chevron-down"></i></span>
			<div>
				<a href="css">css问题</a>
			</div>
		</li>
		<li>
			<span class="hover">jquery <i class="glyphicon glyphicon-chevron-down"></i></span>
			<div>
				<a href="jquery">jquery相关</a>
			</div>
		</li>
		<li>
			<span class="hover">angularjs <i class="glyphicon glyphicon-chevron-down"></i></span>
			<div>
				<a href="ng01">angular路由问题</a>
			</div>
		</li>
	</ul>
</div>
<div class="pull-right content" ui-view></div>
<script>
	$(function() {
		$('.nav li span').click(function() {
			if($(this).find('>i.glyphicon').is('.glyphicon-chevron-down')) {
				$(this).find('>i.glyphicon').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-right');
				$(this).siblings('div').slideUp();
			} else {
				$(this).find('>i.glyphicon').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');
				$(this).siblings('div').slideDown();
			}
		});
	});
</script>